Importing the Dependencies

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading the dataset to a Pandas DataFrame
credit_card_data = pd.read_csv('/content/sample_data/creditcard.csv')

In [3]:
# first five rows of the dataset
credit_card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

In [4]:
# last 5 rows of the dataset
credit_card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
57526,47945,1.138100,0.186695,0.224979,1.098891,-0.149107,-0.494817,0.158646,-0.082146,0.031110,...,0.070575,0.193698,-0.093600,0.078039,0.590292,-0.300950,0.021664,0.021820,36.86,0.0
57527,47946,-0.646913,1.130799,1.050571,-0.569363,0.844107,0.227605,0.808902,-0.130225,-0.290188,...,-0.327854,-0.647464,-0.188020,-1.029697,0.014101,0.101051,0.084340,-0.074503,1.98,0.0
57528,47946,1.214047,0.217891,0.399390,0.945208,-0.101512,-0.108244,-0.099976,0.071885,0.248587,...,-0.293180,-0.859018,0.125645,-0.508650,0.253563,-0.629445,0.040633,0.022467,2.99,0.0
57529,47946,-0.637264,1.187105,0.911446,0.827789,-0.241755,-0.431410,0.482341,0.395142,-1.095934,...,0.272207,0.604289,-0.037705,0.339703,-0.250802,-0.350949,0.031500,0.094337,45.00,0.0
57530,47946,-1.054793,0.820159,0.709861,-0.071631,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [5]:
# dataset information
credit_card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 57531 entries, 0 to 57530
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    57531 non-null  int64
 1   V1      57531 non-null  float64
 2   V2      57531 non-null  float64
 3   V3      57531 non-null  float64
 4   V4      57531 non-null  float64
 5   V5      57530 non-null  float64
 6   V6      57530 non-null  float64
 7   V7      57530 non-null  float64
 8   V8      57530 non-null  float64
 9   V9      57530 non-null  float64
 10  V10     57530 non-null  float64
 11  V11     57530 non-null  float64
 12  V12     57530 non-null  float64
 13  V13     57530 non-null  float64
 14  V14     57530 non-null  float64
 15  V15     57530 non-null  float64
 16  V16     57530 non-null  float64
 17  V17     57530 non-null  float64
 18  V18     57530 non-null  float64
 19  V19     57530 non-null  float64
 20  V20     57530 non-null  float64
 21  V21     57530 non-null  float64
 22  V22     57530 non-null  float64
 23  V23     57530 non-null  float64
 24  V24     57530 non-null  float64
 25  V25     57530 non-null  float64
 26  V26     57530 non-null  float64
 27  V27     57530 non-null  float64
 28  V28     57530 non-null  float64
 29  Amount  57530 non-null  float64
 30  Class   57530 non-null  float64
dtypes: float64(30), int64(1)
memory usage: 13.6 MB

In [6]:
# checking the number of missing value in each column
credit_card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        1
V6        1
V7        1
V8        1
V9        1
V10       1
V11       1
V12       1
V13       1
V14       1
V15       1
V16       1
V17       1
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [7]:
# distribution of legit transactions & fraudulent transactions
credit_card_data['Class'].value_counts()

0.0    57371
1.0      159
Name: Class, dtype: int64

This dataset is highly unblanced

0 --> Normal Transaction

1 --> Fradulent Transaction

In [10]:
# seperate the data for analysis
legit = credit_card_data[credit_card_data.Class == 0]
fraud = credit_card_data[credit_card_data.Class == 1]

In [11]:
print(legit.shape)
print(fraud.shape)

(57371, 31)
(159, 31)

In [12]:
#statistical measures of the data
legit.Amount.describe()

count    57371.000000
mean        94.964936
std        258.837451
min          0.000000
25%          7.730000
50%         26.000000
75%         87.265000
max      12910.930000
Name: Amount, dtype: float64

In [13]:
fraud.Amount.describe()

count     159.000000
mean       94.008491
std       226.356407
min         0.000000
25%         1.000000
50%         4.560000
75%        99.990000
max      1809.680000
Name: Amount, dtype: float64

In [15]:
# compare the calus for both transactions
credit_card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,31182.415593,-0.219113,-0.022390,0.719137,0.156512,-0.245965,0.109222,-0.096562,0.046517,0.082463,...,0.046811,-0.030106,-0.105994,-0.038668,0.007397,0.135838,0.019652,0.001468,0.003733,94.964936
1.0,28211.811321,-7.202722,5.178029,-9.744764,5.629843,-5.323789,-2.182973,-7.596616,3.494864,-3.408036,...,0.440868,0.866669,-0.211629,-0.271093,-0.081439,0.238644,0.127501,0.573380,0.033555,94.008491

Under Sampling

Build a sample dataset containing similar distribution of normal transactions and Fraudulent transactions.

Number of Fraudulent Transations  ---> 492

In [16]:
legit_sample = legit.sample(n=492)

Concatenating two DataFrames

In [17]:
new_dataset = pd.concat([legit_sample, fraud], axis = 0)

In [18]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
34338,37619,-1.120326,-0.491606,1.188404,-2.526876,-0.775287,-0.480608,0.594719,-0.268174,-2.903573,...,-0.520784,-1.198021,0.000494,-0.056592,0.279044,-0.613597,-0.155645,0.082803,152.61,0.0
30892,36122,-0.411212,0.841648,0.895039,0.335753,-0.418412,-0.856047,1.464363,-0.336435,-0.355973,...,0.294538,0.856470,0.134415,0.711203,-0.848214,-0.669719,0.150920,0.216912,144.00,0.0
41177,40570,-1.828765,-1.454689,1.134306,-0.847941,-2.042157,0.582017,0.739070,0.539137,1.324611,...,0.477996,0.817498,0.811190,0.154697,0.187577,0.237723,-0.079522,0.009596,456.00,0.0
50836,44670,-0.122180,-3.027914,0.060385,0.000870,-2.092498,-0.316009,0.060844,-0.185425,-0.609858,...,0.799755,0.570164,-0.667660,0.465410,0.049388,-0.173940,-0.100315,0.151773,759.00,0.0
51187,44832,1.097187,-0.016469,-0.305994,1.072374,0.304245,0.078085,0.313653,-0.059630,0.197325,...,-0.013389,-0.033743,-0.295511,-0.751827,0.846043,-0.202878,0.008691,0.015827,87.54,0.0

In [19]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
53794,46149,-1.346509,2.132431,-1.854355,2.116998,-1.070378,-1.092671,-2.230986,1.036425,-1.895516,...,0.609508,0.202874,-0.060791,-0.186733,-0.017401,-0.283751,0.395451,0.233139,1.00,1.0
55401,46925,-0.481531,1.059542,0.647117,0.905586,0.819368,-0.091184,0.504135,0.161064,-0.765054,...,0.070633,0.192491,-0.174659,-0.438908,0.239259,-0.217823,-0.072852,0.010463,1.00,1.0
56703,47545,1.176716,0.557091,-0.490800,0.756424,0.249192,-0.781871,0.228750,-0.040840,-0.432111,...,-0.062166,-0.128168,-0.040176,0.110040,0.437891,0.368809,-0.018287,0.031173,0.76,1.0
57248,47826,-0.887287,1.390002,1.219686,1.661425,1.009228,-0.733908,0.855829,0.000077,-1.275631,...,-0.083734,-0.346930,-0.050619,0.231044,-0.450760,-0.376205,0.034504,0.157775,7.58,1.0
57470,47923,0.364377,1.443523,-2.220907,2.036985,-1.237055,-1.728161,-2.058582,0.358895,-1.393306,...,0.402730,-0.132129,-0.032977,0.460861,0.560404,0.409366,0.539668,0.296918,0.76,1.0

In [20]:
new_dataset['Class'].value_counts()

0.0    492
1.0    159
Name: Class, dtype: int64

In [21]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,31215.947154,-0.222561,0.013792,0.733935,0.190205,-0.237287,0.032341,-0.001348,0.086497,0.062941,...,0.048295,-0.034610,-0.061833,-0.028563,0.003940,0.131185,-0.017041,0.009453,0.030715,95.886585
1.0,28211.811321,-7.202722,5.178029,-9.744764,5.629843,-5.323789,-2.182973,-7.596616,3.494864,-3.408036,...,0.440868,0.866669,-0.211629,-0.271093,-0.081439,0.238644,0.127501,0.573380,0.033555,94.008491

Split the data Features and Targets

In [23]:
X = new_dataset.drop(columns='Class', axis=1)
Y = new_dataset['Class']

In [24]:
print(X)

        Time        V1        V2        V3        V4        V5        V6  \
34338  37619 -1.120326 -0.491606  1.188404 -2.526876 -0.775287 -0.480608
30892  36122 -0.411212  0.841648  0.895039  0.335753 -0.418412 -0.856047
41177  40570 -1.828765 -1.454689  1.134306 -0.847941 -2.042157  0.582017
50836  44670 -0.122180 -3.027914  0.060385  0.000870 -2.092498 -0.316009
51187  44832  1.097187 -0.016469 -0.305994  1.072374  0.304245  0.078085
...      ...       ...       ...       ...       ...       ...       ...
53794  46149 -1.346509  2.132431 -1.854355  2.116998 -1.070378 -1.092671
55401  46925 -0.481531  1.059542  0.647117  0.905586  0.819368 -0.091184
56703  47545  1.176716  0.557091 -0.490800  0.756424  0.249192 -0.781871
57248  47826 -0.887287  1.390002  1.219686  1.661425  1.009228 -0.733908
57470  47923  0.364377  1.443523 -2.220907  2.036985 -1.237055 -1.728161

             V7        V8        V9  ...       V20       V21       V22  \
34338  0.594719 -0.268174 -2.903573  ... -0.469913 -0.520784 -1.198021
30892  1.464363 -0.336435 -0.355973  ... -0.213377  0.294538  0.856470
41177  0.739070  0.539137  1.324611  ...  1.066514  0.477996  0.817498
50836  0.060844 -0.185425 -0.609858  ...  1.544994  0.799755  0.570164
51187  0.313653 -0.059630  0.197325  ... -0.014674 -0.013389 -0.033743
...         ...       ...       ...  ...       ...       ...       ...
53794 -2.230986  1.036425 -1.895516  ...  0.221919  0.609508  0.202874
55401  0.504135  0.161064 -0.765054  ... -0.042515  0.070633  0.192491
56703  0.228750 -0.040840 -0.432111  ... -0.102772 -0.062166 -0.128168
57248  0.855829  0.000077 -1.275631  ... -0.268347 -0.083734 -0.346930
57470 -2.058582  0.358895 -1.393306  ...  0.310980  0.402730 -0.132129

            V23       V24       V25       V26       V27       V28  Amount
34338  0.000494 -0.056592  0.279044 -0.613597 -0.155645  0.082803  152.61
30892  0.134415  0.711203 -0.848214 -0.669719  0.150920  0.216912  144.00
41177  0.811190  0.154697  0.187577  0.237723 -0.079522  0.009596  456.00
50836 -0.667660  0.465410  0.049388 -0.173940 -0.100315  0.151773  759.00
51187 -0.295511 -0.751827  0.846043 -0.202878  0.008691  0.015827   87.54
...         ...       ...       ...       ...       ...       ...     ...
53794 -0.060791 -0.186733 -0.017401 -0.283751  0.395451  0.233139    1.00
55401 -0.174659 -0.438908  0.239259 -0.217823 -0.072852  0.010463    1.00
56703 -0.040176  0.110040  0.437891  0.368809 -0.018287  0.031173    0.76
57248 -0.050619  0.231044 -0.450760 -0.376205  0.034504  0.157775    7.58
57470 -0.032977  0.460861  0.560404  0.409366  0.539668  0.296918    0.76

[651 rows x 30 columns]

In [25]:
print(Y)

34338    0.0
30892    0.0
41177    0.0
50836    0.0
51187    0.0
        ...
53794    1.0
55401    1.0
56703    1.0
57248    1.0
57470    1.0
Name: Class, Length: 651, dtype: float64

Split the data into training data and testing data

In [27]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size = 0.2, stratify = Y, random_state =2)

In [28]:
print(X.shape, X_train.shape, X_test.shape)

(651, 30) (520, 30) (131, 30)

Model Training

Logistic Regression

In [29]:
model = LogisticRegression()

In [30]:
#training the Logistic Regression Model with Training Data
model.fit(X_train, Y_train)

/usr/local/lib/python3.10/dist-packages/sklearn/linear_model/_logistic.py:458: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

Accuracy Score

In [31]:
# accuracy on training data
X_train_prediction = model.predict(X_train)
train_data_accuracy = accuracy_score(X_train_prediction, Y_train)

In [33]:
print('Aaccuracy on Trainig Data:',train_data_accuracy)

Aaccuracy on Trainig Data: 0.9769230769230769

In [34]:
# accuracy on test data
X_test_prediction = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction, Y_test)

In [35]:
print('Accuracy score on test data:',test_data_accuracy)

Accuracy score on test data: 0.9618320610687023